# Compiled source #
###################
*.prg

# Resources/Generated #
#######################
*.mcgen
*.mbc

# Build directories #
#####################
build/
bin/

# VSCode #
##########
*.code-workspace
